*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #c41f43;
    font-family: sans-serif;
}

.form-holder{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-holder input label  {
    display: inline-block;
    width:100%;
}
.radio{
    width:100%;
}
.control{
    display: flex;
    flex-direction: column;
    width:50%;
}
.test{
    width:100%;
    height:100vh;
    display: flex;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.opts-hold{
    display: none;
    justify-content: center;
    align-items: center;
}
.opts-hold.active{
    display: flex;
    justify-content: center;
    align-items: center;
}
.opt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    transition: .3s ease;
}
.opt:hover > img{
    cursor: pointer;
    background: rgba(200,0,0,1);
}
.opts-hold img{
    width:200px;
    height: 200px;
    background: red;
}
.sub{
    width:150px;
    height: 30px;
    border-radius: 20px;
    background: black;
    color:white;
    display: none;
}
.sub.active{
    display: block;
}
.new-form label{
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: capitalize;
    margin: auto 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width:50%;
}
input[type=text]{
    padding-left: .5rem;
    border-radius: 20px;
    height:2rem;
    width:300px;
    border:none;
}
form{
    display: flex;
    flex-direction: column;
    width:50%;
    height: 100%;
}
form input{
    display: block;
    display: none;
}
button{
    width:200px;
    padding:1rem;
    border-radius: 30px;
    border:none;
    font-weight: 600;
    font-size: 1.2rem;
    /* color:white;
    background: white; */
}
form button{
    display: none;
}
form button.active{
    display: block;
}
button:nth-of-type(1){
    width:200px;

}
.report-display{
    width:100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: -10;
    opacity: 0;
}
.report-display.active{
    z-index: 20;
    /* top:0;
    left:0; */
    background: black;
    opacity: 1;
    color:white!important;
}
.finish{

}
@media screen and (max-width:599px) {
    nav{
        position: fixed;
        bottom:0;
        width:100%;
    }
    .logo{
        position:relative;
        width:120px;
        height: 120px;
        margin: auto;

    }
    .logo img{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .arrow {
        border: solid white;
        border-width: 0 10px 10px 0;
        display: inline-block;
        padding: 10px;
        position:absolute;
        top:93%;
        z-index: 10;
        display: flex;
      }
      
      .right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        right:5%;
      }
      
      .left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        left:5%;
      }
      .hide{
        display: none;
      }
    .new-form label{
        width:90%;
        font-size: 1.4rem!important;
        font-weight: 100!important;
        padding:.1rem 0;

    }
    input[type=checkbox] {
        margin:.2rem .5rem ;
    }
    .new-form label{
        font-size:1.5rem ;
    }
    h2{
        font-size:1.7rem ;
        color:White;
        margin-top:20px;
    }
    .opts-hold img{
    width:100px;
    height: 100px;
    }
    .question{
        width:100%;
        margin:20px auto;
        /* min-height:500px; */
        /* max-height: 90%; */
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background: #c41f43;
        color:white;
        position:absolute;
        left:-150%;
        transition: .3s ease;
        padding:0 1rem;
        border:3px solid white;
        border-radius: 10px;
    }
    .question h3{
        font-size:1.5rem;
        margin:10px;
        /* text-align: left; */
    }
    .question.active{
        left:50%;
        transform: translateX(-50%);
        width:90%;
        min-height:700px;
        max-height: 90%;
        /* margin:auto; */
    }
    /* .question1{
        min-height: 200px;
    } */
.report{
    position: absolute;
    bottom:15%;
    left:50%;
    transform: translateX(-50%);
    display: none;
}
.report.active{
    display: block;
}
}
@media screen and (max-width:400px) {
    h2{
        font-size: 1.8rem;
    }
.question.active{
    min-height:400px;
}
.logo{
    height:70px;
}
}